<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assests/css/style.css">
   <link rel="stylesheet" href="../assests/icon/themify-icons/themify-icons.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
      <div class="container">
          <div class="nav-container">
            <div class="icon header-menu">
              <a href="#"><i class="ti-menu"></i></a>
            </div>
            <div class="header-logo">
              <a href="#"><img src="../assests/img/background.png" alt=""></a>
            </div>
            <div class="icon header-search-bag">
              <a href="#"><i class="ti-search"></i></a>
              <a href="#"><i class="ti-bag"></i></a>
            </div>
          </div>
        </div>
    </header>
    <div class="theme-section">
        <img src="../assests/img/theme.jpg" alt="shoes.png">
    </div>
    <div class="product-section">
      <div class="container">
        <div class="content-container">
          <div class="title text-center">
            <h3>Notable products 2022</h3>
          </div>
        </div>
        <div class="product-container">
          <div class="product-list">  
            <div class="product-item">
                <img src="../assests/img/shoes1.jpg" alt="">
            </div>
            <div class="product-item">
              <img src="../assests/img/jordan3black.jpg" alt="">
          </div>
          <div class="product-item">
            <img src="../assests/img/shoes3.jpg" alt="">
        </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-section">
      <div class="contact-content">
        <div class="row">
          <p class="white">Nhập Email của bạn để nhận được thông tin 
            về những sản phẩm mới nhất</p>
            <div class="form-content">
              <form action="">
                <div class="input-group">
                  <input class="input-group-text" aria-label="Địa chỉ email" placeholder="Địa chỉ email" name="Email">
                  <span class="input-group-button">
                      <button class="btn" type="Submit">  Đăng ký</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="introduce">
          <img src="../assests/img/background.png" alt="logo.png">
          <div class="introduce-content">
            <span>
                Ninety Eight là một thương hiệu thời trang được thành lập vào ngày 8/12/2018. 
                Tâm huyết và công sức của từng thành viên trong team cùng một mục tiêu đem đến cho khách hàng sự hài lòng về chất lượng,
                sự chỉnh chu khi trải nghiệm sản phẩm. Tất cả đều xuất phát từ đam mê của tuổi trẻ.
              </span>
          </div>
        </div>
        <div class="footer-address">
          <div class="footer-name">
            ST&SH Today Officer
          </div>
          <div class="footer-address">
            <ul>
              <li>
                <i class="ti-instagram"></i>
                <p>ingstagram:coming soon</p>
              </li>
              <li>
                <i class="ti-email"></i>
                <p>email:khangb1906491@student.ctu.edu.vn</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>